{% extends "base.html" %}
{% block content %}
<html>
    <center>
        <title>Finishing up...</title>
<body>
    <div id = "white">
        <h2>Thank you!</h2>
        <br><br>
        <img src = "https://previews.123rf.com/images/photobyphotoboy/photobyphotoboy1509/photobyphotoboy150900010/46067585-dirty-dish-white-sauce-cutlery-dinner-table-eat-plate-finished-empty-meal-crockery-fork-mess-cream-o.jpg" height = "350"></img>
        <br><br>
        
        <p>We have sent the order to the kitchen!
        <br>Please go pick it up at the designating location.
        <br>You may now <u>logout</u>.</p>
    </div>
    </body>
</html>
{% endblock %}
