{% extends "base.html" %}
{% block content %}

<body>
    <div id = "white">
    <h2>Welcome <u>{{ current_user.username }}</u> to LocalFoodie.</h2>
    <p>Our company is here to help you get the food you want or need!<br/>
    Use the navigation bar above to set or review your location, <br/>
    select categories or restaurants, or make an order and pay with <br/>
    whatever is in your cart!</p>

    <img src = "https://static.vecteezy.com/system/resources/previews/000/475/983/non_2x/vector-food-court-isometric-composition.jpg"></img>
    <br><br><br>
    
    <a href = "notifications"><button type="button" class="btn btn-outline-primary">Notifications</button></a>
    <a href = "location"><button type="button" class="btn btn-outline-primary">Location Settings</button></a>

    <br><br>
    <p style = "font-size:15px;">You are currently seeing this page because you are logged in as:<br/> <u>{{current_user.username}}</u><br/>
    
    If this is not you, please logout. </p>
    </div>
</body>
{% endblock %}
